/* Preloader container */
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Loader animation */
.loader {
    border: 1px solid #f3f3f3;

    border-top: 3px solid #388087;

    border-radius: 50%;
    width: 5%;
    height: 10%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}



body {
    background-color: #f6f6f2;
    margin: 0%;
    padding: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;

}

#title {
    padding: 2%;
    background-color: #c2edce;
    margin: -1.7%;
    background-image: "pexels";

}

/* From Uiverse.io by KshitijAdhikaree */ 
/* The switch - the box around the slider */
 /* .switch-container {
    position: fixed;
    display: inline-block;
    width: 3.5em;
    height: 2em;

        border: #388087 2px solid;
        border-radius: 30px;
        top: 2%;
        right: 2%; 

  }

  
  /* Hide default HTML checkbox  */
  /* .switch-container input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  The slider 
  .switch-container .slider {
    
    --background: linear-gradient(to right, inherit);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--background);
    transition: background-color 0.5s;
    border-radius: 30px;
  
  }
  
  .switch-container .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 15px -4px 0px 15px #f8ea27;
    background: var(--background);

    transition: transform 0.5s, box-shadow 0.5s;
  }

  
  .switch-container input:checked + .slider {
    background-color: #000;
  }
  
  .switch-container input:checked + .slider:before {
    transform: translateX(100%);
    box-shadow: inset 8px -4px 0px 0px #f8f8f4;
  }
   */ 
#welcome {
    color: #388087;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    animation: slideIn .85s  ease-in-out;
}

#authoris {
    height: 1%;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
}

.typing-demo {
    width: 400px;
    animation: typing 2s steps(15), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid black;
    font-family: monospace;
    font-size: 2em;
}

/* .dark-mode {
    background-color: black;
    color: white;
  } */

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}
#down{
    position: fixed;
    bottom: 2%;
    right: 2%;  
    padding: 10px 20px;
    background-color: #388087;
    color:#f3f3f3;
    border: none;
    border-radius: 9%;
    box-shadow: 5px 5px grey;
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: slideIn .85s  ease-in-out;
}
#down a{
    text-decoration: none;
    color: inherit;

}
#typnam{
    color: #388087;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#socials {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: #c2edce;

}

#socials a {
    padding: 2%;
    margin: 0%;
    display: block;
    text-align: center;
    max-width: 7%;
    animation: slideIn .85s  ease-in-out;
}

#socials a:hover {
    color: black;
}

#nav {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: #badfe7;
    box-shadow: 5px 5px 5px 5px grey;
    
}

#nav a {
    padding: 2%;
    margin: 0%;
    display: block; 
    text-align: center;
    text-decoration: none;
    color: #388087;
    animation: slideIn 0.85s  ease-in-out;
    

}

#nav a:hover {
    background-color: #388087;
    color: #f6f6f2;
    font-size: large;
    box-shadow: 5px 5px 5px 5px grey;
}

#certi,
#ab,
#proj,
#contact {
    margin: 1%;
    padding: 4%;
    margin-top: 0%;
    padding-top: 0%;
}
#ab p{
   display: flex;
   justify-content: center;

 
   
}

#proj{
    margin-top: 1%;
}

#k1 {
    width: 60%;
    height: 80%;

}

#k1:hover {
    width: 70%;
    height: 90%;
}

#n2 {
    display: flex;
    justify-content: center;
    color: #388087;
}

#n4 {
    padding: 1%;
    display: flex;
    justify-content: center;
    color: #f6f6f2;

}

#e4,
#e3,
#e2 {
    width: 60%;
    height: 80%;
    /* border:#388087 2px solid; */
    position: relative;
    cursor:pointer;
    animation: slideIn 1s ease-in-out;
}

#urlp li,
#finalp li,
#attendp li {
    padding: .5%;

}

#r6{
    overflow: break-word;
    position: relative;
    padding: 7%;
    margin:inherit;
    background-color: #c2edce;
    cursor:pointer;
    color: black;
    box-shadow: 5px 5px 5px 5px grey;
}
#r5{
    overflow: break-word;
    position: relative;
    padding: 7%;
    margin:inherit;
    background-color: #c2edce;
    cursor:pointer;
    color: black;
    box-shadow: 5px 5px 5px 5px grey;
}
#r4 {
    overflow: break-word;
    position: relative;
    padding: 7%;
    margin:inherit;
    background-color: #c2edce;
    cursor:pointer;
    color: black;
    box-shadow: 5px 5px 5px 5px grey;
}

#huihui {
    width: 30%;
    height: 10%;
    animation: slideX 1s ease-in-out;

}

#edu {
    padding: 1%;
    max-height: .1%;
    

}

#i3 {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    margin-left: 10%;
    margin-bottom: 7%;
    padding-bottom: 7%;

}

#i4 {
    display: flex;
    justify-content: center;
    margin: 5%;
    padding: 3%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    list-style: disc;
}

#linked,
#nptel,
#infosys {
    padding: 5%;
    margin: 3%;
    box-shadow: 5px 5px 5px 5px grey;
    background-color: #388087;
    color: #f6f6f2;
    animation: slideX 1s ease-in-out;
}



#skills {
    border-top: #388087 3px dotted;
    border-bottom: #388087 3px dotted;
    box-shadow: 5px 5px 5px 5px grey;
    background-color: #6fb3b8;


}

#skillset {
    display: flex;
    position: relative;
    animation: moc 5s linear infinite;

}
#skillset:hover{
    cursor: pointer;
    animation-play-state: paused;
    
}

#s1,
#s2,
#s3,
#s4,
#s5,
#s6,
#s7,
#s8 {
    width: 10%;
    height: 10%;
    margin: 2%;

}

#s9 {
    width: 7.5%;
    height: 3%;
    margin: 2%;
}
#urlp,#finalp,#attendp {
    padding: 3%;
    margin: 3%;
    background-color: #6fb3b8;
    color: #f3f3f3;
    box-shadow: 5px 5px 5px 5px grey;
    animation: slideIn 1.7s  ease-in-out;
}

#urlp a{
    text-decoration: none;
    color: inherit;
}
#f1,
#f2 :hover {
    border: 4px black solid;
}

#cd1,
#cd2,
#cd3 {
    background-color: #f3f3f3;
    color: #388087;
}


#contact {
    margin: 0%;
    display: flex;
    justify-content: right;
    padding: 2%;
    margin-top: 0%;
    padding-top: 0%;
    color: #f6f6f2;
    background-color: #6fb3b8;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    animation: slideX 1s ease-in-out;

}

#ucm {
    display: flex;
    justify-content: left;
}

#form {
    margin: 0%;
    margin-right: 0%;
    padding-right: 0%;
    padding: 2%;
    display: flex;
    justify-content: right;
}

form input {
    box-shadow: 5px 5px 5px 5px black;
    font-style: oblique;
}

#submit {
    background-color: #c2edce;
    color: black;
}

#gcq {
    background-color: #6fb3b8;
    margin: -1.0%;
}

#x1 {
    width: 10%;
    height: 35%;

}

#x1:hover {
    width: 15%;
    height: 20%;
}
#x2 {
    width: 10%;
    height: 7%;
    border-radius: 200%;
    margin-right: 2%;
    

}

#x2:hover {
    width: 15%;
    height: 20%;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0%;
}


@keyframes moc {
    0% {
        transform: translate(0%, 0);

    }

    100% {
        transform: translate(-55%, 0);


    }


}


@media only screen and (max-width: 500px) {
    
    #preloader {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    /* Loader animation */
    .loader {
        border: 1px solid #f3f3f3;
    
        border-top: 3px solid #388087;
    
        border-radius: 50%;
        width:10%;
        height: 6.5%;
        animation: spin 1s linear infinite;
    }
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
    
        100% {
            transform: rotate(360deg);
        }
    }
    
    #html{
        scroll-behavior:smooth;
        overflow:hidden;
        margin: -1%;
    }

    #authoris {
        height: 1%;
        /* This part is important for centering */
        display: grid;
        place-items: center;
    }
    
    .typing-demo {
        width:287px;
        animation: typing 2s steps(15), blink .5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid black;
        font-family: monospace;
        font-size: 23px;
    }
    
    @keyframes typing {
        from {
            width: 0
        }
    }
    
    @keyframes blink {
        50% {
            border-color: transparent
        }
    }
   
    #i4 {
        display: flex;
        flex-direction: column;
        margin: 1%;
        padding: 1%;
        overflow: hidden;
        margin-bottom: 0%;
        padding-bottom: 0%;
        list-style: disc;
    }
   
   #contact td a{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 70%;
   }
   #contact{
    display: flex;
    flex-direction: column;
   }
   #e4,
#e3,
#e2 {
    animation: slideIn 1s ease-in-out;
}
#socials a {
    animation: slideIn .85s  ease-in-out;
}
#down{
    animation: slideIn .85s  ease-in-out;
}   
#welcome {
    animation: slideIn .85s  ease-in-out;
}
#urlp,#finalp,#attendp {
    animation: slideIn 1.7s  ease-in-out;
}

#contact {
    animation: slideX 1s ease-in-out;

}

#linked,
#nptel,
#infosys {
    animation: slideX 1s ease-in-out;
}
#huihui {
    animation: slideX 1s ease-in-out;

}
#nav a {
 
    animation: slideIn 0.85s  ease-in-out;
}
@keyframes slideIn {
    0% {
        transform: translateY(75%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideX {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

  }
@keyframes slideIn {
    0% {
        transform: translateY(75%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideX {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}